<div class="container">
  <ng-container *ngIf="timerGroups$ | async as timerGroups; else loadingBlock">
    <div class="logger-slots">
      <ng-container *ngFor="let timerGroup of timerGroups; trackBy: trackByFn">
        <app-logger-slot [userId]="userId" [loggerId]="loggerId" [timerGroupId]="timerGroup.id"></app-logger-slot>
      </ng-container>
      <app-empty-slot [userId]="userId" [loggerId]="loggerId"></app-empty-slot>
    </div>
  </ng-container>
  <ng-template #loadingBlock>
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

  <footer>
    <ng-container *ngIf="userDetail$ | async as userDetail">
      <p>{{userDetail.name}} ({{userDetail.id}})</p>
    </ng-container>
  </footer>
</div>


